body{
    background-image: url(img/background.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 1%;
    font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
    font-weight: normal;
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-template-areas: "header header" "nav nav" "section section" "footer footer";
}
h1{
    font-size: 2em;
}
.stylized{
    padding: 1.5%;
    border-radius: 10px;
}
h1#Name{
    display: none;
    grid-area: header;
}
header{
    display: grid;
    grid-template-columns: 1fr 7fr;
    gap: 10px;
    grid-area: header;
}
img#Logo{
    grid-column: 1;
    border-radius: 10px;
    width: 90%;
    min-width: 150px;
}
section#NavSection{
    display: flex;
    background-color:#FFF0D1;
    grid-column: 2;
    align-items: center;
}
nav#NavBar{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.5%;
}
a.MenuLinks{
    text-decoration: none;
    color: #4b3117;
    background-color: #f2d3ae;
    border-radius: 20px;
    padding: 15px 0px;
    text-align: center;
    font-size: 30px;
}
a.MenuLinks:hover{
    color: rgb(0, 0, 0);
    background-color: #eec091;
}
section#Page{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-area: section;
}
article{
    display: flex;
    border: 10px;
    flex-direction: column;
    background-color:#FFF0D1;
    gap: 1.5%;
    margin: 25px 0px;
    width: 95%;
}
.padded{
    padding: 0px 10px;
}
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
.mySlides {
    display: none;
}
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
@media only screen and (max-width: 300px) {
    .text {font-size: 11px}
}
select{
    width: 30%;
}
footer{
    display: flex;
    background-color: #FFF0D1;
    color: #4b3117;
    justify-content: center;
    width: 97%;
    grid-area: footer;
}
iframe{
    border-radius: 10px;
    height: 100%;
    width: 100%;
}
textarea{
    height: 100%;
}

@media (max-width: 700px){
h1#Name{
    display: grid;
    background-color:#FFF0D1;
    padding: 10px;
    grid-column: 2;
    grid-row: 1;
    justify-items: center;
    align-items: center;
}
section#NavSection{
    grid-column: span 2;
}
img#Logo{
    width: 150px;
}
nav#NavBar{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}
section#Page{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}
}